extends forgetPasswordPage
block content 
     .forget-password-form(class="w-full max-w-md bg-white p-8 rounded-lg shadow-md")
      .check-email(class="text-center")
        h1(class="text-2xl font-semibold text-gray-700 mb-4") Go and check Your Email...!
        p(class="text-gray-600") Your reset password email was sent successfully.