doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title AI Models | #{title}
    link(rel="icon" href="/img/images/logo.png")
    link(rel="stylesheet" href="/styles/tailwind.css")
  body
    div(class="h-screen bg-[#2b2e34] flex justify-center items-center")
      div(class="text-center")
        h1(class="text-6xl font-black font-mono text-[#3b82f6]") 404 Not Found
        h3(class="text-4xl my-4 text-white") Something's missing.
        p(class="text-2xl text-gray-400")
          | Sorry, we can't find that page. You'll find lots to explore on the
          br
          | home page.
        button(class="mt-8")
          a(class="bg-[#3b82f6] hover:bg-[#2f68c5] text-[18px] font-semibold px-5 py-3 rounded-xl text-white" href="/home") Back to Homepage
