doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title AI Models | #{title}
    link(rel="icon" href="/img/images/logo.png")
    link(rel="stylesheet" href="/styles/tailwind.css")
    script(src="/js/home.js" defer)
    script(src="/js/model.js" defer)
  body
    // !========================================== Nav Bar ==========================================
    nav(class="flex justify-between h-20 shadow-xl")
      div(class="p-4 w-28 flex items-center")
        img(src="/img/images/logo.png" class="w-full h-auto cursor-pointer" alt="Logo")
      div(class="p-6")
        img(id="open_icon" src="../images/open.svg" onclick="handleClickOpen()" class="w-8 min-800:hidden cursor-pointer")
        // Big Screen
        ul(class="flex max-800:hidden")
          li(class="mx-6 cursor-pointer text-xl relative group hover:text-blue-900")
            a(href="/home") Home
            span(class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black transition-all duration-1000 group-hover:w-full")
          li(class="mx-6 cursor-pointer text-xl relative group hover:text-blue-900")
            a(href="/home#Services") Services
            span(class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black transition-all duration-1000 group-hover:w-full")
          li(class="mx-6 cursor-pointer text-xl relative group hover:text-blue-900")
            a(href="/home#models") Models
            span(class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black transition-all duration-1000 group-hover:w-full")
          li(class="mx-6 cursor-pointer text-xl relative group hover:text-blue-900")
            a(href="/profile") Profile
            span(class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black transition-all duration-1000 group-hover:w-full")
        // Small Screen
        ul(id="small" class="hidden min-800:hidden w-80 max-550:w-screen bg-gray-200 relative -right-8 -top-4 z-20 h-[94vh]")
          li(class="w-full cursor-pointer p-2" onclick="handleClickClose()")
            img(id="close_icon" src="../images/close.svg" class="w-8")
          li(class="w-full hover:bg-[#2b2e34] hover:text-white cursor-pointer my-2 p-2 text-lg")
            a(href="/home" class="inline-block h-full w-full") Home
          li(class="w-full hover:bg-[#2b2e34] hover:text-white cursor-pointer my-2 p-2 text-lg")
            a(href="/home#Services" class="inline-block h-full w-full") Services
          li(class="w-full hover:bg-[#2b2e34] hover:text-white cursor-pointer my-2 p-2 text-lg")
            a(href="/home#models" class="inline-block h-full w-full") Models
          li(class="w-full hover:bg-[#2b2e34] hover:text-white cursor-pointer my-2 p-2 text-lg")
            a(href="/profile" class="inline-block h-full w-full") Profile
    // !========================================== End Nav Bar ==========================================

    h2(class="text-5xl font-semibold text-center text-blue-700 m-5") Brain Tumor Test
    section(class="py-14 font-mono bg-[#2b2e34]")
      form#dropzone(class="w-2/3 max-700:w-11/12 max-600:w-full mx-auto bg-white p-2 border-2 border-dashed border-gray-300 rounded-lg shadow-sm hover:border-blue-400 focus-within:ring-2 focus-within:ring-blue-400 focus-within:ring-offset-2" action="/predict-brain-tumor" method="POST"  enctype="multipart/form-data")
        // Image Container
        input(type="text" value="Brain Tumor Specialist" name="modelName" style="display:none")
        div(class="h-96 bg-gray-300 relative rounded-xl")
          input#fileInput(type="file" name="image" accept="image/*" class="absolute top-0 left-0 h-full w-full z-50 opacity-0 cursor-pointer" required)
          div#placeholder(class="absolute top-0 left-0 h-full w-full flex flex-col items-center justify-center text-center p-4")
            img(src="/img/images/plus-icon.png" alt="your Image" class="w-24 h-24 object-cover mb-4")
            p(class="mt-2 text-xl text-gray-600") Drag & drop your image here, or
              span(class="text-blue-500 font-medium cursor-pointer") browse
          div#previewContainer(class="hidden h-4/5")
            img#previewImage(alt="Uploaded Image" class="h-full w-full object-contain rounded-md")
        button(type="submit" class="my-8 mx-auto block text-xl w-full text-center text-white bg-blue-700 hover:bg-blue-900 px-2 py-3 rounded-md") Submit

